<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="3">
	<appenders>
			<File name="FILE" fileName="logs/hotel.log">
			  <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
			</File>

	  </appenders>
	  <loggers>
			<root level="warn">		
			  <appender-ref ref="FILE"/>
			</root>
	  </loggers>
 </configuration>